[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Kim Yong Kwon
	email = 76460920+Kim-yk@users.noreply.github.com
[core]
	editor = \"C:\\Users\\user\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
